
<nav class="bg-blue-500 text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Left: Links -->
    <ul class="flex space-x-6">
      <li><a routerLink="/home" class="hover:text-gray-300 cursor-pointer">Home</a></li>
      <li><a routerLink="/products" class="hover:text-gray-300 cursor-pointer">Products</a></li>
      <li><a routerLink="/cart" class="hover:text-gray-300 cursor-pointer">Cart</a></li>
    </ul>

    <!-- Center: Search Bar -->
    <div class="mx-4">
      <input
        type="text"
        placeholder="Search products..."
        class="w-64 px-4 py-2 rounded-full text-gray-700 focus:outline-none focus:ring-2 focus:ring-white"
      />
    </div>

    <!-- Right: Login Button -->
    <div>
      <a routerLink="/signup">
        <button
          type="button"
          class="text-white bg-red-700 hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full px-5 py-2 mx-2"
        >
          SignUp
        </button>
      </a>
      <a routerLink="/login">
      <button
        type="button"
        class="text-white bg-green-700 hover:bg-yellow-200 focus:outline-none  font-medium rounded-full px-5 py-2"
      >
        Login
      </button>
    </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>